/* main: ../bulmascores.sass */

.navbar
  &.is-transparent
    background-color: transparent

  .navbar-start
    border-left: 1px solid $xlayer-grey-lighter

  .navbar-item
    transition: .3s
    img
      max-height: none
    &:hover
      color: $xlayer-grey


.custom-logo
  width: 150px
  height: auto



#social-icons
  font-size: 1.5rem
  a:hover
    opacity: 0.5
    background: none
    //color: $link-color
